body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Board {
  padding: 3rem 3rem;
}

.game-btn {
  width: 4rem;
  height: 4rem;
  vertical-align: top;
  margin: 0.3rem;
  font-size: xx-large;
  font-weight: 900;
}

.game-status {
  padding: 1rem 1rem;
  font-size: larger;
  font-weight: 900;
}